* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0%;
}
.container {
    width: 950px;
    margin-inline: auto;
}
header {
    height: 60px;
    background-color: rgb(66, 65, 65);
}
header a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 15px;
}
header .container {
    display: flex;
    justify-content: space-between;
}
header nav {
    display: flex;
    align-items: center;
    margin-left: -15px;
}
.download-block {
    display: flex;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
}
.search-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    background: transparent;
    border: 0;
}
.download-block input {
    height: 60px;
    width: 200px;
    padding-left: 60px;
    padding-right: 15px;
    background-color: grey;
    border: 0;
}
header .download-btn {
    height: 60px;
    display: flex;
    align-items: center;
    border: 0;
    background-color: yellowgreen;
}
header img {
    height: 20px;
    width: 20px;
}
.notification {
    background-color: rgb(90, 89, 89);
}
.notification p {
    padding-block: 5px;
    margin: 0%;
    text-align: center;
}
/* welcome section */
.welcome-section {
    background-color: black;
    padding-block: 30px;
}
.welcome-section .container {
    display: flex;
    width: 800px;
    height: 400px;
}
.welcome-section .welcome-img {
    width: 70%;
    height: auto;
    margin-block: 15px;
}
.welcome-section .text-block {
    width: 30%;
    color: white;
    text-align: center;
    padding-right: 15px;
    margin-top: 40px;
}
.text-block h1 span {
    display: block;
}
.text-block h1 span:last-child {
    font-size: 40px;
}
.text-block .download-btn {
    display: flex;
    background-color: yellowgreen;
    color: black;
    height: 55px;
}
.text-block .download-btn div:first-child {
    width: 70%;
    padding: 10px;
}
.text-block .download-btn h6 {
    margin: 0%;
    font-weight: bold;
}
.text-block .download-btn div:last-child {
    width: 30%;
    height: 100%;
    border-left: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-block .download-btn img {
    width: 20px;
    height: 20px;
}