body {
    background-color:#f3f3f3;
    margin: 0%;
}
* {
    box-sizing: border-box;
}
.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: darkblue;
    margin: 0px 0px 10px;
    padding: 0px;
    margin-bottom: 20px;
}
h1 {
    margin: 0px;
    font-weight: bolder;
    color: white;
}
.body-container {
    margin: auto;
    width: 550px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 800px;
    border: 1px solid grey;
    border-radius: 5px;
    gap: 15px;
    flex-direction: column;
    background-color: white;
}
.signup {
    margin-bottom: 15px;
}
.signup label {
    display: block;
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bolder;
}
.input,
select {
    height: 30px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid;
    font-size: larger;
    box-sizing: border-box;
}
.input :focus {
    border-color: black;
    outline: none;
}
h2 {
    color: grey;
    font-size: 30px;
    font-weight: bolder;
}
.btn {
    background-color: rgb(8, 165, 8);
    font-size: 10px;
    font-weight: bolder;
    color: honeydew;
    border-radius: 5px;
    border: 1px solid gray;
    width:100px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullname {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.others {
    width: 100%;
}
.signup1{
    padding: 5px 20px;
}
.signup1 label {
    display: block;
}
.input1 {
    height: 30px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid;
    font-size: larger;
    width: 100%;
    box-sizing: border-box;
}
.others.signup1 {
    box-sizing: border-box;
}
.save {
    display: flex;
    flex-direction: row;
}
.others label {
    display: block;
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bolder;
}
#title {
    display: flex;
    width: 100%;
    padding: 0px 20px;
    justify-content: flex-start;
}