body {
    background-color: rgb(181, 198, 199);
}
header {
    display: flex;
    height: 20px;
    align-items: center;
    background-color: rgb(116, 124, 123);
    height: 60px;
    width: 900px;
    margin: auto;
}
.links {
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: auto;
}
.flex-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
    background-color: rgb(206, 211, 211);
}
.სათაური div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.main div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
img {
    width: 300px;
    height: 450px;
    border: 10px solid rgb(94, 93, 93);
}
img:hover {
    width: 350px;
    height: 500px;
    border: 5px solid rgb(94, 93, 93);
}
.text2 {
    display: flex;
    justify-content:center;
    align-items: center;
}
a {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(58, 69, 70);
    background-color: rgb(114, 134, 130);
    padding: 2px;
    margin-left: 50px;
}
a:hover {
    text-decoration: underline solid ;
    color: blanchedalmond;
    font-size: larger;
}
p {
    color: rgb(88, 110, 102);
}
h2 {
    font-weight: 80;
    text-decoration: overline 2px solid;
}
h1 {
    font-weight: 80;
    font-style: oblique;
    text-decoration: overline 4px solid;
}